body {
    font-family: "Andale Mono";
    color: white;
    background: black
}

fieldset {
    height: 600px;
    width: 500px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
}

input {
    background: darkgray
}

textarea {
    margin: 10px auto;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    background: darkgray
}

.message {
    border: solid, 1px;
    margin: 10px, auto;
    border-radius: 5px;
}

.field {
    border-radius: 20px
}

.dispaly {
    border: solid 1px;
    text-align: center;
    margin: 200px auto;
}