<fieldset class="test-fieldset">
    <legend>Enter Secret Message</legend>
    <form action="/enigma" method="post">
        <label for="key">Key:</label>
        <input type="text" name="key" placeholder="custom key..."><br/><br/>
        <label for="message">Message: </label>
        <textarea name="message" placeholder="enter text to encrypt, decrypt or crack..."></textarea>
        <input value="encrypt" type="submit" formaction="/enigma_encrypt">
        <input value="decrypt" type="submit" formaction="/enigma_decrypt" />
        <input value="crack" type="submit" formaction="/enigma_crack">
    </form>
</fieldset>